@import 'variables'

.HeaderBig
    text-align center
    height 400px
    background-color $header-color
    border-bottom 1px solid darken($header-color, 20%)
    overflow hidden
    transition height 0.3s ease-out

    &.small
        height 285px

    .StavangerNodeSchoolHouse
        width 400px
        padding-top 70px

    .StavangerNodeSchoolLogo
        width 225px
        top 14px
        left 50%
        margin-left -113px
        position absolute

    .HeaderBigTitle
        padding-top 85px
        font-size 4em
