@import 'variables'

$workshop-list-width = 400px

.WorkshopList
    border 1px solid $color
    width $workshop-list-width
    margin-top 30px
    margin-left auto
    margin-right auto

    .WorkshopListHeader
        color white
        background-color $color
        height 40px
        line-height 40px
        text-indent 10px

    .WorkshopListItem
        height 30px
        line-height 30px

        div
            float left
            overflow hidden

        .WorkshopListItemId
            width 8%
            text-indent 10px
            cursor pointer

        .WorkshopListItemTitle
            width 50%
            text-indent 10px
            cursor pointer

        .WorkshopListItemRegister
            width 20%
            height 100%
            cursor pointer

        .WorkshopListItemTime
            width 20%
            text-align right

        &:after
            content ''
            display block
            clear both