@import 'variables'

.WorkshopPage
    max-width 1000px
    padding-left 30px
    padding-right 30px
    margin auto

    .WorkshopPageInfoBox
        float right
        margin-top 12px
        min-height 100px

        .WorkshopperLink
            border 1px solid $color
            background-color $light-yellow
            padding 5px

        .Date
            margin-top 10px
            text-align right
            font-weight bold

        .Time
            margin-top 5px
            text-align right
            
        .EventLink
            margin-top 5px
            float right
            font-weight bold
